<launch>
  <arg name="param_file" default="$(find ndt_scan_matcher)/config/ndt_scan_matcher.yaml" />

  <!-- Topics -->
  <arg name="input_sensor_points_topic" default="/points_raw" doc="Sensor points topic"/>
  <arg name="input_initial_pose_topic" default="/ekf_pose_with_covariance" doc="Initial position topic to align" />
  <arg name="input_map_points_topic" default="/pointcloud_map" doc="Map points topic" />

  <arg name="output_pose_topic" default="ndt_pose" doc="Estimated self position" />
  <arg name="output_pose_with_covariance_topic" default="ndt_pose_with_covariance" doc="Estimated self position with covariance" />
  <arg name="output_diagnostics_topic" default="/diagnostics" doc="Diagnostic topic" />


  <arg name="use_anonymous_node_name" default="false" doc="If True, launch with anonymous option" />
  <arg name="node_name" value="ndt_scan_matcher" unless="$(arg use_anonymous_node_name)" doc="Not use anonymous option" />
  <arg name="node_name" value="$(anon ndt_scan_matcher)" if="$(arg use_anonymous_node_name)" doc="Use anonymous option" />


  <node pkg="ndt_scan_matcher" type="ndt_scan_matcher" name="$(arg node_name)" output="log">

    <remap from="points_raw" to="$(arg input_sensor_points_topic)" />
    <remap from="ekf_pose_with_covariance" to="$(arg input_initial_pose_topic)" />
    <remap from="pointcloud_map" to="$(arg input_map_points_topic)" />

    <remap from="ndt_pose" to="$(arg output_pose_topic)" />
    <remap from="ndt_pose_with_covariance" to="$(arg output_pose_with_covariance_topic)" />
    <remap from="diagnostics" to="$(arg output_diagnostics_topic)" />

    <rosparam command="load" file="$(arg param_file)" />
  </node>

</launch>
