<launch>
  <arg name="config_file" default="$(find autoware_error_monitor)/config/autoware_error_monitor.yaml" />
  <arg name="ignore_missing_diagnostics" default="false" />
  <arg name="add_leaf_diagnostics" default="true" />

  <arg name="agg_config_file_discard" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/_discard.yaml" />
  <arg name="agg_config_file_control" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/control.yaml" />
  <arg name="agg_config_file_localization" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/localization.yaml" />
  <arg name="agg_config_file_map" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/map.yaml" />
  <arg name="agg_config_file_perception" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/perception.yaml" />
  <arg name="agg_config_file_planning" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/planning.yaml" />
  <arg name="agg_config_file_sensing" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/sensing.yaml" />
  <arg name="agg_config_file_system" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/system.yaml" />
  <arg name="agg_config_file_vehicle" default="$(find autoware_error_monitor)/config/diagnostic_aggregator/vehicle.yaml" />

  <group ns="/">
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="aggregator_node" output="screen">
      <param name="pub_rate" value="10"/>
      <rosparam command="load" file="$(arg agg_config_file_discard)" />
      <rosparam command="load" file="$(arg agg_config_file_control)" ns="analyzers/control" />
      <rosparam command="load" file="$(arg agg_config_file_localization)" ns="analyzers/localization" />
      <rosparam command="load" file="$(arg agg_config_file_map)" ns="analyzers/map" />
      <rosparam command="load" file="$(arg agg_config_file_perception)" ns="analyzers/perception" />
      <rosparam command="load" file="$(arg agg_config_file_planning)" ns="analyzers/planning" />
      <rosparam command="load" file="$(arg agg_config_file_sensing)" ns="analyzers/sensing" />
      <rosparam command="load" file="$(arg agg_config_file_system)" ns="analyzers/system" />
      <rosparam command="load" file="$(arg agg_config_file_vehicle)" ns="analyzers/vehicle" />
    </node>
  </group>

  <include file="$(find autoware_error_monitor)/launch/autoware_error_monitor_node.launch">
    <arg name="config_file" value="$(arg config_file)"/>
    <arg name="ignore_missing_diagnostics" value="$(arg ignore_missing_diagnostics)"/>
    <arg name="add_leaf_diagnostics" value="$(arg add_leaf_diagnostics)"/>
  </include>
</launch>
